services:
    db:
        image: postgres:17
        container_name: db_lembraMed
        restart: always
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASS}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - '5432:5432'
        volumes:
            - db_data:/var/lib/postgresql/data

    api:
        build: .
        container_name: api_lembraMed
        restart: always
        depends_on:
            - db
        ports:
            - '3000:3000'
        environment:
            - PORT=${PORT}
            - DB_HOST=db_lembraMed
            - DB_USER=${DB_USER}
            - DB_PASS=${DB_PASS}
            - DB_NAME=${DB_NAME}
            - DB_DIALECT=${DB_DIALECT}
            - JWT_SECRET=${JWT_SECRET}
            - EMAIL_USER=${EMAIL_USER}
            - EMAIL_PASS=${EMAIL_PASS}
            - NODE_ENV=${NODE_ENV}
        volumes:
            - .:/app
        command: 'npm run dev'

volumes:
    db_data:
